---
title: Blog
---

{% include breadcrumbs.html %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Blog</h2>

          {% for post in site.posts %}
            <article  class="govuk-body">
              <h3 class="govuk-heading-m"><a href="{{ post.url }}" class="govuk-link">{{ post.title }}</a></h3>
              <p class="byline author vcard">
                <span class="govuk-visually-hidden">Posted by:</span>
                <span class="author url fn" rel="author">{{ post.author }}</span>,
                <span class="govuk-visually-hidden">Posted on:</span>
                <time class="updated" datetime="2020-10-02" pubdate="">{{ post.date | date: '%-d %B %Y' }}</time>
              </p>
              <p class="govuk-body-l">{{ post.excerpt }}</p>
              <a href="{{ post.url }}" class="govuk-link">Read more</a>
            </article>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          {% endfor %}

        </div>
        <div class="govuk-grid-column-one-third">

        <!-- <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
              Weeknotes
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  {% for weeknote in site.weeknotes %}
                    <li><a href="{{ weeknote.url }}">{{ weeknote.title }}</a></li>
                  {% endfor %}
                </ul>
              </nav>
        </aside> -->

        {% include related.html %}

        </div>

      </div>

      {% include feedback.html %}

    </main>
  </div>
