---

---
<header class="hero">
		<div class="hero__content govuk-width-container">
			<h1 class="govuk-heading-xl">Digital Playbook</h1>
			<p class="govuk-body-l">This playbook has been created as part of an induction pack for teams and people delivering digital services.​ It aims to give an overall view of standards, processes and ways of working.​</p>


			<p class="govuk-body">Read more about <a href="/about">our team</a></p>

		</div>
	</header>

  <div class="govuk-section-break--l"></div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Blog</h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
					{% for post in site.posts limit:1%}
            <article  class="govuk-body">
              <h3 class="govuk-heading-m"><a href="{{ post.url }}" class="govuk-link">{{ post.title }}</a></h3>
              <p class="byline author vcard">
                <span class="govuk-visually-hidden">Posted by:</span>
                <span class="author url fn" rel="author">{{ post.author }}</span>,
                <span class="govuk-visually-hidden">Posted on:</span>
                <time class="updated" datetime="2020-10-02" pubdate="">{{ post.date | date: '%-d %B %Y' }}</time>
              </p>
              <p class="govuk-body-m">{{ post.excerpt }}</p>
              <a href="{{ post.url }}" class="govuk-link">Read more</a>
            </article>
          {% endfor %}
        </div>

        <div class="govuk-grid-column-one-third weeknotes-home">
          <!-- <h2 class="govuk-heading-m">Latest Weeknote</h2>
					{% assign weeknote = site.weeknotes | sort: 'date' %}
					{% for weeknote in site.weeknotes reversed %}
						<article  class="govuk-body">
							<h4 class="govuk-heading-s"><a href="{{ weeknote.url }}" class="govuk-link">{{ weeknote.title }}</a></h4>
						</article>
					{% endfor %} -->
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Resources</h2>
          <!-- <p class="govuk-body-l">Innovations as power makes our brand but ensure to follow requirements when developing solutions but we want to empower the team with the right tools and guidance to uplevel our craft and build better</p> -->
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="govuk-body-m panel">
            <a href="projects.html" class="govuk-link govuk-body-l">Projects</a>
            <p>Learn more about the Projects we're currently working on and what is on the horizon for the Digital team at Homes England.</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="govuk-body-m panel">
            <a href="playbook.html" class="govuk-link govuk-body-l">Digital Playbook</a>
            <p>Learn more about how we work and deliver digital services. Covering delivery standards, agile ways of working, tools, processes and governance.</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="govuk-body-m panel">
            <a href="about.html" class="govuk-link govuk-body-l">Our Team</a>
            <p>Learn more about how the Digital team are delivering amazing web and technology services fit for the digital age.</p>
          </div>
        </div>
      </div>

    </main>
  </div>

  <div class="govuk-section-break govuk-section-break--xl"></div>
