---
title: Digital Playbook
---

{% include breadcrumbs.html %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper playbook" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl">Digital Playbook</h2>
        <!-- <p class="govuk-body-l govuk-!-margin-bottom-7 app-page-header__summary">
            The Service Standard helps teams to create and run great public services.</p> -->
        <p class="govuk-body">This playbook has been created as part of an induction pack for teams and people delivering digital services at Homes England.​ It aims to give an overall view of standards, processes and ways of working.​</p>
      </div>
    </div>

    <div class="govuk-section-break--l"></div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section first-accordion">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Overview
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class="govuk-body">The digital delivery team at Homes England work using <a class="govuk-link" href='https://www.gov.uk/service-manual/agile-delivery'>Agile delivery</a> methods wherever possible. </p>
              <p class="govuk-body">To ensure we&#39;re delivering products and services that align with business requirements and meets user needs, we encourage teams to work iteratively by starting with a <a class="govuk-link"
                  href='https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works'>Discovery</a> to understand the problem that needs to be solved, followed by an <a class="govuk-link"
                  href='https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works'>Alpha</a> to try solutions to those problems before we commit and build the product or service in <a class="govuk-link"
                  href='https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works'>Beta</a> and <a class="govuk-link" href='https://www.gov.uk/service-manual/agile-delivery/how-the-live-phase-works'>Live</a>.</p>
              <p class="govuk-body">We build services that meet the Government <a class="govuk-link" href='https://www.gov.uk/service-manual/service-standard'>Service Standard</a> and <a class="govuk-link"
                  href='https://www.gov.uk/government/publications/technology-code-of-practice/technology-code-of-practice'>Technology Code of Practice</a> as well as our own Delivery, Data and Architectural standards.</p>
              <p class="govuk-body">Our Multidisciplinary teams work in 2-week sprints, using common Agile artefacts and ceremonies to foster an environment of self-organisation and collaboration. This includes:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Daily stand-ups</li>
                <li>Weekly backlog refinement</li>
                <li>Fortnightly Show &amp; Tells</li>
                <li>Retrospectives and Team Health Checks</li>
              </ul>
              <p class="govuk-body">You&#39;ll find more details on the topics mentioned above, as well as other information covering ways of working, tools, processes and governance in the Delivery Playbook below.</p>

            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Service Manual
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class='govuk-body'>The recognised standards on <a href="https://www.gov.uk/service-manual/agile-delivery" class="govuk-link">Agile delivery</a> across government can be found on the <a href="https://www.gov.uk/service-manual"
                  class="govuk-link">Service manual</a>. New starters are requested to familiarise themselves with this. It covers:</p>

              <h4 class="govuk-heading-s">Agile delivery</h4>
              <p class='govuk-body'>How to work in an agile way: principles, tools and governance.</p>

              <h4 class="govuk-heading-s">Understanding agile project management</h4>
              <p class='govuk-body'>Introductions, methods, core features.</p>

              <h4 class="govuk-heading-s">Working with agile methods,</h4>
              <p class='govuk-body'>Workspaces, tools and techniques, user stories, planning.</p>

              <h4 class="govuk-heading-s">Governing agile services</h4>
              <p class='govuk-body'>Principles, measuring progress, spending money.</p>

              <h4 class="govuk-heading-s">Phases of an agile project</h4>
              <p class='govuk-body'>Discovery, alpha, beta, live and retirement.</p>

              <a href="https://www.gov.uk/service-manual" class="govuk-link">Read more</a>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Agile Principles
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class='govuk-body'>Teams at Homes England are recommended to use an agile approach to project management to build and run government digital services. Agile methods encourage teams to build quickly, test what they’ve built and
                iterate their work based on regular feedback.</p>
              <p class="govuk-body">For an initial understanding of the basics of what Agile is, the Agile Manifesto can be found here: <a href="https://agilemanifesto.org/​" class="govuk-link">https://agilemanifesto.org/</a>​ Following on from
                that, The Twelve Principles of the Agile Manifesto can be found here: <a href="https://agilemanifesto.org/principles.html" class="govuk-link">https://agilemanifesto.org/principles.html</a></p>
              <h3 class="govuk-heading-m">Scrum</h3>
              <p class="govuk-body">Scrum is the most commonly used agile method. It allows a highly structured model with clearly defined roles and responsibilities. Scrum is a framework for delivery management that concentrates on teamwork,
                accountability and iterative progress toward a well-defined goal or Minimum Viable Product (MVP). The framework begins with a simple premise: Start with what can be seen or known. After that, track the progress and tweak as
                necessary</p>

              <p class="govuk-body">Learn more about the features of Scrum in the <a href="http://www.scrumguides.org/scrum-guide.html">Scrum Guide</a>, written by the developers of Scrum, Ken Schwaber and Jeff Sutherland.</p>

              <h3 class="govuk-heading-m">Kanban</h3>
              <p class="govuk-body">Kanban as a development method was inspired by production systems that focus on reducing waste and improving quality, like those created by Toyota. Kanban is a way of visualising and improving your current
                working practices so that work flows through a system quickly.</p>

              <p class="govuk-body">A fast and smooth flow of work means you can:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li class="govuk-list-item">Deliver value quickly and predictably</li>
                <li class="govuk-list-item">Get early feedback to find out whether your product or service is meeting user needs</li>
              </ul>

              <p class="govuk-body">Read <a href="https://www.atlassian.com/agile/kanban/">a brief introduction to Kanban.</a></p>

              <p><a href="/playbook/lean/" class="govuk-link">Read more</a> about Lean Principles we have adopted at Homes England.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Multidisciplinary Team
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>All development teams responsible for software development in an agile environment should follow the 7 +/- 2 rule laid down within agile ways of working, with a focus on the following roles​:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>1 x Delivery Manager​ - Responsible for facilitating the team, obtaining resources for it, and protecting it from problems, removing blockers, ensuring the team has what it needs to do its job, coaching the team when necessary
                </li>
                <li>1 x Product Manager​ - responsible for the vision, priority order of the backlog and negotiating with the team what order they want to build in, represents the end user and all of their needs</li>
                <li>1 x Business Analyst</li>
                <li>UCD (User Researcher, Content Designer, Service Designer, Interaction Designer)
                  Developer(s), QA Test</li>
              </ul>

              <p class="govuk-body">​​​​​​​The skills a team will need may change throughout the lifecycle of your service but this is a standard team shape to deliver digital change. Teams may also need SME’s like Architects, Data and
                Infrastructure engineer, who will support the team where needed.</p>

              <p class="govuk-body">​​​​​​​All development teams are to act as self-organising, autonomous teams that develop strong relationships working collaboratively with the wider business units ​.</p>

              <p class="govuk-body">​​​​​​​Some larger services will have a Service Owner who is accountable for the quality of a service. They must have the decision-making authority to make changes to a service and drive the vision. Service
                Owners adopt a portfolio view, managing end-to-end services which often include multiple products and channels.</p>

              <p class="govuk-body">​​​​​​​They have overall responsibility for developing, operating and continually improving a service. Product Managers work with Service Owners to ensure Service Teams are delivering changes that move towards
                the vision of the Service Owner.</p>

              <h3 class="govuk-heading-m">Benefits</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>Team of digital specialists empowered to build and support services quickly and iteratively.
                  Keeping the team together retains knowledge, improves ways of working, collaboration and supports planning.</li>
                <li>People will get familiar with roles, responsibilities, build relationships with stakeholders, increase understanding of service standard and assessments</li>
                <li>Local prioritisation and decision making. The whole team work together to design, build and iterate a service based on the user needs of the people your service is aimed at.</li>
                <li>All projects are likely to fall in to category of or be requested by specific business/tech areas. Bi-directional familiarity will make prioritisation, managing WIP, escalation, reporting easier</li>
                <li>Teams will have the breathing room to work with service owners to tackle legacy/tech debt whilst building clear and consistent wikis on services</li>
                <li>Encourages consistency of delivery/data/infra/soft/arch standards, ways of working and collaboration across teams through CoPs</li>
                <li>Makes life easier as the we shift focus on to one area that requires less domain knowledge, fewer services to deal with, less context switching</li>
              </ul>

            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Ceremonies
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <h3 class="govuk-heading-m">Project Kick Off</h3>
              <p class="govuk-body">This content is coming soon!</p>
              <h3 class="govuk-heading-m"></h3>
              <h3 class="govuk-heading-m"></h3>
              <h3 class="govuk-heading-m"></h3>
              <h3 class="govuk-heading-m">Project Closure</h3>
              <p class="govuk-body">This content is coming soon!</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Artefacts​​​​​​​
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <h3 class="govuk-heading-m">Backlog</h3>
              <p>Backlog refinement overall is a team effort, led and facilitated by the aforementioned roles, it is a regular, ongoing process, defined by the agile ceremonies that Homes England teams use in Scrum (Sprint Planning, Three Amigos,
                Refinement) or Kanban​</p>

              <p>Go through each ticket in flight and get updates on it - close down no longer required tickets (steer from the Product Manager) to ensure that the backlog is as up to date as possible​</p>

              <p>Anyone can put a new item in the backlog but they MUST inform the PM in advance who will then in turn prioritise the item - without that communication and letting everyone add stuff to the Product Backlog often results in reduced
                transparency, lack of clarity, a wrong ordering and loss of manageability.​</p>

              <p>Ensure by chasing the PM that the backlog is still in relevant priority order. Priorities can be decided on ROI to the organisation, benefits to the customer/end user, technical common sense (build one service/screen) before
                another - process flows/maps can be a useful visual aid to map the user journeys/data flows and to then write/prioritise user stories against them (that helps decide what order you might consider doing work items in)​</p>

              <p>Stories near to or at the top of the backlog should meet your team’s Definition of Ready ​</p>

              <p>A useful acronym to consider when managing your backlog is <span class="govuk-!-font-weight-bold">DEEP</span>:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li><span class="govuk-!-font-weight-bold">Detailed Appropriately</span>. User stories on the product backlog that will be done soon need to be sufficiently well understood that they can be completed in the coming sprint. Stories
                  that will not be developed for a while should be described with less detail.</li>
                <li><span class="govuk-!-font-weight-bold">Estimated</span>. The product backlog is more than a list of all work to be done; it is also a useful planning tool. Because items further down the backlog are not as well understood (yet),
                  the estimates associated with them will be less precise than estimates given items at the top.​</li>
                <li><span class="govuk-!-font-weight-bold">Emergent</span>. A product backlog is not static. It will change over time. As more is learned, user stories on the product backlog will be added, removed, or reprioritised.​</li>
                <li><span class="govuk-!-font-weight-bold">Prioritised</span>. The product backlog should be sorted with the most valuable items at the top and the least valuable at the bottom. By always working in priority order, the team is able
                  to maximise the value of the product or system being developed.​</li>
              </ul>
              ​
              <p>Our backlogs are a statement of intent. They are kept in priority order from 1 at the top to N down the bottom (on a daily, weekly sprintly basis). They can be used to visualise the order in which we want to release our
                code/services. Start with any deadline dates and reverse engineer to your start date – then start to map out your sprints</p>


              <h3 class="govuk-heading-m">Roadmap</h3>
              <p>A roadmap is a plan that shows how a product or service is likely to develop to achieve a particular goal.
              </p>
              <p>For service teams this goal will be the vision developed with the Service Owner. Each service or product should have a roadmap maintained by the product manager.
              </p>
              <p>A good roadmap:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Makes it clear what you’re trying to achieve (Vision)</li>
                <li>Sets out the steps your product will take to get there (iterations)</li>
                <li>Helps users, development teams and stakeholders understand the outcomes they are likely to see</li>
                <li>Helps the wider team understand how what they’re working on relates to future priorities</li>
                <li>Supports conversations to prioritise based on value</li>
                <li>Is not a promise to deliver; they capture intent and allow for change and regular review as we learn more</li>
                <li>Helps readers understand what is not being done e.g. if the product delivered in beta will only be usable by 20% of all applications the roadmap is a good place to reflect this outcome</li>
              </ul>
            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Delivery Phases
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <h3 class="govuk-heading-m">Discovery</h3>
              <p>Before committing to building something, we need to understand what the user needs are and if a new thing is needed. This is Discovery.​
              </p>
              <p>Discovery de-risks the future. It allows us to understand the scope of a problem and the best way to proceed in response.​</p>
              <p class="govuk-body">Activities in discovery include:​</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>User research​</li>
                <li>Analysis of business needs​</li>
                <li>Market research​</li>
                <li>Journey mapping</li>
                <li>Cost analysis</li>
              </ul>

              <p> We are not building software in discovery. The outputs of a discovery include:​
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li> Recommendations on the best way to proceed​
                </li>
                <li> A prioritised list of user needs that future development work can be planned against​
                </li>
                <li> Findings about current processes or the existing service​
                </li>
                <li> Estimated scale and costs for developing a new service​
                </li>
              </ul>
              <h3 class="govuk-heading-m">Alpha</h3>
              <p> After committing to building a new service, we need to understand how it will work for users and how it will integrate with existing processes and systems.
              </p>
              <p> Alpha results in a better and more focused service. It allows us to understand how users will interact with the service and what is technically possible.​
              </p>


              <p> Activities in alpha include:​
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Building test designs or concepts</li>
                <li>User testing​</li>
                <li>Service design​</li>
                <li>Technical audit and exploration of existing and legacy systems​</li>
              </ul>

              <p> We are usually not building software in alpha, even though it might look like it. The outputs of an alpha will include:​
              </p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Designs that have been tested and iterated with users​</li>
                <li>A roadmap and plan for a beta phase</li>
                <li>Metrics to measure performance​</li>
                <li>Research findings in the form of user stories and journey maps​</li>
              </ul>

              <h3 class="govuk-heading-m">Beta</h3>
              <p> With a clear scope, user needs, and technical approach in place, we are ready to build a working version of the service. This is beta.​
              </p>
              <p> Beta results in software that can handle real transactions and is ready to work at scale. It allows us to develop better services that meet user needs.​
              </p>


              <p> Activities in beta include:​
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Developing working software​</li>
                <li>Testing and iterating</li>
                <li>Getting the service accredited​</li>
                <li>Measuring performance​</li>
                <li>Developing and testing a security approach​</li>
              </ul>

              <p> We are building software and technical infrastructure in beta. The outputs of a beta will include:​
              </p>

              <ul class="govuk-list govuk-list--bullet">
                <li> Working software that is being used for real transactions​
                </li>
                <li> Technical infrastructure to support the new service​
                </li>
                <li> Metrics about the performance of the service​
                </li>
                <li> A backlog of development tasks for ongoing iterations​
                </li>
                <li> An approach for security​
                </li>
              </ul>

              <h3 class="govuk-heading-m">Live</h3>
              <p> Once a service is being used for real transactions, continuous improvements can be made based on feedback, research and data. This is Live.​
              </p>
              <p> An active digital service is never ‘done’. The live phase allows us to respond to change and new research findings in order to keep iterating the service.​
              </p>
              <p>Activities in live include:​</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Iterating and improving the service​</li>
                <li>Measuring performance​</li>
                <li>User support​</li>
                <li>Testing the service for security​</li>
              </ul>

              <p> We are continuously improving and supporting working software. The outputs of live will include:​
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li> Iterations and improvements to the service​
                </li>
                <li> Metrics on performance​
                </li>
                <li> A backlog of development tasks for ongoing iterations​
                </li>
                <li> Security tests​​
                </li>
              </ul>

            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Tools
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <ol class="govuk-list govuk-list--number">
                <li><a href="/playbook/azure/" class="govuk-link">Azure DevOps</a> to manage team backlogs and development, integration and branching strategy. <br><br>Please see our <a href="/playbook/azure/" class="govuk-link">dedicated page</a>
                  for in-depth guidance on how to access, configure and use Azure DevOps</li>
                <li><a href="https://www.microsoft.com/en-gb/microsoft-teams/group-chat-software" class="govuk-link">Microsoft Teams</a> for productivity and communication</li>
                <li><a href="https://www.microsoft.com/en-gb/business/project/" class="govuk-link">Microsoft Project Online</a> for reporting and resourcing</li>
              </ol>
              <p>Line managers are responsible to request access to Office 365 for new starters.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Digital Portfolio
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

              <p>At Homes England our portfolio consists of:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>A single portfolio with defined governance to establish a clear route to delivery</li>
                <li>Heads of professions supporting portfolio prioritisation, governance and resourcing</li>
                <li>Stable multidisciplinary teams working collaboratively with business stakeholders</li>
                <li>Clearly defined WIP limits to surface capacity of operational and delivery teams</li>
              </ul>

              <p class="govuk-body">
                The <a href="/playbook/pmo/">Project Management Office (PMO)</a> offers a wide range of services to stakeholders across Digital and the wider organisation in order to support and improve project delivery and provide greater assurance
                and benefit realisation.
              </p>
              <p><a href="/playbook/pmo/" class="govuk-link">Read more</a></p>

              <h3 class="govuk-heading-s">BAU or Project</h3>
              <p class="govuk-body">We empower teams to iteratively identify, prioritise and deliver value. However, there may be situations when a proposed project requires additional governance, specialist skills or funding outside the scope of the
                team.
              <p>
              <p>We've written guidance to support leadership and teams determine if a piece of work is BAU or meets the threshold to go through the portfolio front door and governance process.</p>

              <p><a href="/playbook/bauproject/" class="govuk-link">Read more</a></p>

            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Reporting
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class='govuk-body'>This content is coming soon!</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Assurance
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <p class='govuk-body'>This content is coming soon!</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Communities of Practice
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>A regular forum where best practice is shared between amongst peers. At the moment the following communities of practice exist in Homes England.</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Delivery</li>
                <li>Product</li>
                <li>Business Analysis</li>
                <li>UCD</li>
                <li>Data</li>
                <li><a href="/playbook/hop" class="govuk-link govuk-body">Heads of Profession Community</a></li>
              </ul>

              <p>Please use the links above to view the terms of reference for each community.</p>

              <p>Please contact the profession lead to join the community. You do not have to be an existing member of that profession to join a community and all are welcome.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Communication
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <h2 class="govuk-heading-m">Week Notes</h2>
              <h3 class="govuk-heading-s">What are weeknotes?​</h3>

              <p>We use weeknotes to inform the people we’re working with about our progress, issues we’re dealing with, and what we’re planning to do. They can be a really useful way to update people you deal with directly, but they can also be
                shared more widely with people who are less directly involved in a day to day basis.​
              </p>

              <h3 class="govuk-heading-s">What makes a good weeknote?​</h3>
              <p>A good weeknote:​</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Sounds like it was written by a human. Ask yourself whether it would be something you’d be happy to receive and read. You don’t need to make it too formal.​</li>
                <li>Is honest about progress as well as issues. This is a good way to flag things that need to get dealt with on a project.​</li>
                <li>Gives a sense of what the team is delivering as whole. Don’t just write bullets covering what every individual on the team did that week.​</li>
                <li>Brings the project to life. Do you have any images you can use to illustrate what you’ve been doing?​</li>
                <li>Is frequent and regular. This is a good way to build trust with the wider team.​</li>
              </ul>

              <p>We send out weeknotes to update you on progress. Weeknotes highlight things we’re worried about, acknowledge achievements and show progress, and layout what we plan to do next. Along with our show and tells, this is the main way
                you will find out about the project so please read.​
              </p>


              <h3 class="govuk-heading-s">Good Things​</h3>

              <p> What are the main highlights this week? Have you hit any milestones, or overcome any significant blockers? What decisions have been made? Do you have any images to show progress? (e.g. a photo from a workshop, or a screenshot of
                something that’s been built?)​
              </p>
              <h3 class="govuk-heading-s">Learned things​</h3>

              <p> Have the team learned anything from a retro? Did anything happen that you didn’t expect? Have the team made any changes to how the team operates? Have the team uncovered anything new from user research? Does anyone from the team
                have any personal reflections that they’d like to share?​
              </p>
              <h3 class="govuk-heading-s">Difficulties​</h3>

              <p> What challenges or issues does the wider project team need to be aware of? How are you dealing with them? What help do you need - either from within the project team or elsewhere?​
              </p>
              <h3 class="govuk-heading-s">Achievements​</h3>

              <p> Are there any team achievements that need recognising? Are there any individuals you want to recognise? (they don’t need to be inside the core project team - they could be someone from a different department who helped you out
                this week).​
              </p>
              <h3 class="govuk-heading-s">What’s next​</h3>

              <p> What are you planning to deliver in the next sprint? When is the next show and tell? What key meetings are coming up?​
              </p>
              <p>Delivery Managers release a combined weekly week note that is distributed across Digital</p>
              </p>

              <h2 class="govuk-heading-m">Show & Tells</h2>
            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  User Research
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <!-- <p>At Homes England we believe in making decisions based on evidenced user needs. User researchers, help multidisciplinary teams learn about users and recognise the value of user research. There is no single right
                way of doing this, but as a team, we need to stay unified in the way we approach, do, and talk about research.</p>​
              <p><a href="/playbook/user-research/" class="govuk-link">Read more</a></p> -->
              <p class='govuk-body'>This content is coming soon!</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Digital Accessibility
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <!-- <p> In the UK, at least 1 in 5 people have a long term illness, impairment or disability, and many more have a temporary or situational disability.
              </p>
              <p> Accessibility means making sure services and content can be used and understood by the widest possible audience. As a public sector organisation, we must remove as many barriers or obstacles to accessing our services as possible.
              </p>
              <p><a href="/playbook/accessibility/" class="govuk-link">Read more</a></p> -->
              <p class='govuk-body'>This content is coming soon!</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Team Health Check
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p>The Team Health Check is a self-evaluation tool, a workshop format, to help you improve and become stronger as a team. The goal of the workshop is to increase self-awareness, trigger discussion on how you can improve as a team and
                how
                you can be even more successful at collaboratively deliver value to your users and stakeholders.
              </p>

              <p><a href="/playbook/team-health" class="govuk-link">Read more</a></p>

            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Recruitment
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>This content is coming soon!</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Working with Suppliers
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>This content is coming soon!</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Information Security
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>For more information on our Information Security policies, please see links below.</p>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/playbook/engineering_secure_systems" class="govuk-link govuk-body">Engineering Secure Systems</a></li>
                <li><a href="/playbook/secure_development" class="govuk-link govuk-body">Secure Development Principles</a></li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Procurement
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Read about our <a href="/playbook/procurement" class="govuk-link govuk-body">Software as a Service (SaaS) Procurement</a> process.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Training
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <h3 class="govuk-heading-m">Pluralsight
              </h3>
              <p>We have curated learning paths for Senior, Mid and Associate Delivery Managers with specific courses that are available for all permanent members on <a
                  href="https://app.pluralsight.com/channels/details/d7e8b802-b8ef-434b-9266-d6246f731dfb" class="govuk-link">Pluralsight</a>.
              </p>


              <h3 class="govuk-heading-m">Recorded Coaching Sessions</p>

                <p><a href="https://web.microsoftstream.com/video/580ba6f6-39b4-4a7e-907b-22e74c72ca84">User Centred Design (UCD)</a>
                </p>
                <p><a href="https://web.microsoftstream.com/video/87cb6b5c-0d0e-402e-af10-5bb0768a835e">Overview of Kanban</a>
                </p>
                <p><a href="https://web.microsoftstream.com/video/c3347816-497f-40fb-b8e7-43938183ec2f">Overview of Scrum</a>
                </p>
                <p><a href="https://web.microsoftstream.com/video/290156ae-e2b0-418c-9fba-836a1fb7f827">Digital Accessibility</a>
                </p>

                <p><a href="https://web.microsoftstream.com/video/4160ef37-028a-4fc0-bdbe-80b5ecd252d3">Backlog Management</a>
                </p>
                <p><a href="https://web.microsoftstream.com/video/b28c07f3-e70a-4ba7-a51c-8966b0584a72" class="govuk-link">Making Content Accessible</a>
                </p>
                <p><a href="https://docs.google.com/document/d/1koQerI4BF2rRENi91NBRrBmd6uCV3ilmB26shxpW0es/edit" class="govuk-link">Other Resources</a> (Books, Courses, Articles, Videos)
                </p>
                <p>Any requests for formal training should be made to your line manager. If you would like the community to present a topic please contact the Delivery Community.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Join the community
          </h2>
          <p class="govuk-body">We have multiple communities at Homes England. Find out what they do and how to get involved.</p>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li><a href="mailto:deliverymanagers@homesengland.gov.uk" class="govuk-link govuk-body">Delivery Community</a></li>

              <li><a href="/playbook/hop" class="govuk-link govuk-body">Heads of Profession Community</a></li>

              <!-- <li><a href="#" class="govuk-link govuk-body">UCD Community</a></li> -->
            </ul>
          </nav>
        </aside>

      </div>

    </div>

    {% include feedback.html %}

  </main>
</div>
