---
title: Projects
---
{% include breadcrumbs.html %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper playbook" id="main-content" role="main">
    <h1 class="govuk-heading-xl">Projects</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <p class="govuk-body">Learn more about the Projects we're currently working on and what is on the horizon for the Digital team.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="border-bottom: 5px solid #0b0c0c;">
          <!-- <header>
            <h2 class="govuk-heading-l">What we’re working on</h2>
          </header> -->
      </div>
    </div>


    <!-- <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <article class="blog-post blog-post-preview">
          <header>
            <h3 class="govuk-heading-m markdown-output govuk-!-margin-bottom-4">Delivery Playbook</h3>
          </header>
          <footer class="entry-footer">
            <ul class="govuk-list">
                <li>Guidance on how we work and deliver digital services at Homes England. Covering delivery standards, agile ways of working, tools, processes and governance.</li>
            </ul>
          </footer>
        </article>
      </div>
    </div> -->

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
            <h4 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-4">To do</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                <a href="projects/cloud" class="govuk-link">API Management</a><br>
                We have been using the Delivery Playbook internally as a reference point to establish best practice. We've now made it publicly available online.</li></ul>
        </div>

        <div class="govuk-grid-column-one-third">
            <h4 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-4">In progress</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                <a href="projects/cloud" class="govuk-link">Cloud Hosting Service</a><br>
                With the introduction of Project Online, we're evolving the way we capture project data, track project delivery and communicate progress with stakeholders.
                </li>
                <li>
                <a href="projects/cloud" class="govuk-link">Data Platform</a><br>
                Supporting Homes England meet our commitment to spend controls and ensuring
                </li>
                <li>
                [Metrics]<br>
                Collaboration through advanced technlogy face time, service as core &innovations as power makes our brand.
                </li></ul>
        </div>

        <div class="govuk-grid-column-one-third">
            <h4 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-4">Done</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                <a href="projects/cloud" class="govuk-link">GOV.UK Notify</a><br>
                Touch base vec and player-coach beef up, nor manage expectations but flesh that out,
                </li>
                <li>
                <a href="projects/cloud" class="govuk-link">Authentication</a><br>
                Touch base vec and player-coach beef up, nor manage expectations but flesh that out,
                </li>
            </ul>
        </div>

    </div>
    {% include feedback.html %}
</main>

</div>
